
ion-tab-bar {
  background: linear-gradient(180deg, #D6F2FD 0%, #EEF7FE 50%, #FDFEFE 100%);
  border: 1px solid #D9EEF7;
}

ion-tab-button {
  --background: transparent;
}

.tabs-container {
  background: linear-gradient(180deg, #B9E3F6 0%, #AFE0F9 50%, #9EDBFA 100%)
}