
ion-tab-bar {
  background: linear-gradient(180deg, #D6F2FD 0%, #EEF7FE 50%, #FDFEFE 100%);
  //background: linear-gradient(180deg, rgba(255,255,255, 0.4), rgba(255,255,255, 1));
  border: 1px solid #D9EEF7;
}

ion-tab-button {
  --background: transparent;
}

.tabs-container {
  background: linear-gradient(180deg, rgba(131, 210, 250, 0.6), rgba(131, 210, 250, 1))
}