<div class="mx-auto w-full h-full relative tabs-container">
  @if(this.appStore.isInitializing()){
    <app-loading></app-loading>
  }@else{
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="h-[106px] rounded-tl-[52px] rounded-tr-[52px]">
        <ion-tab-button>
          <ion-icon [icon]="addIcon()" class="size-[36px]"/>
        </ion-tab-button>

        <ion-tab-button tab="home">
          <ion-icon [icon]="homeIcon()" class="size-[36px]"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="currency">
          <ion-icon [icon]="currencyIcon()"  class="size-[36px]"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="analytic">
          <ion-icon [icon]="settingsIcon()"  class="size-[36px]"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  }
</div>
